div {
    position: relative;
    padding: 0.5rem;
    max-height: 100%;
    overflow: auto;
    flex-grow: 1;
}

div pre {
    margin-top: 0;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

button {
    cursor: pointer;
    fill: currentColor;
    border: 0;
    position: sticky;
    top: 0.67rem;
    right: 0.67rem;
    float: right;
}